.App {
  display: flex;
  flex-direction: column;
  place-items: center;
}
body{
  width: 100%;
  height: 100%;
  background-color: #a5ae9e;
}
.uploadInput{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100px;
  place-items: center;
  justify-content: center;
  background-color: #594e36;
  border-radius: 50px;
}
.uploadInput>input{
  color: whitesmoke;
  cursor: pointer;
}
.naslovInput{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  place-items: center;
  justify-content: center;
  background-color: #7e846b;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
.naslovInput>header{
  color: whitesmoke;
  font-size: xx-large;
  font: bold;
}
.convertInput{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100px;
  place-items: center;
  justify-content: center;
  background-color: #594e36;
  border-radius: 50px;
}
.logInput{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100px;
  place-items: center;
  justify-content: center;
  background-color: #594e36;
  border-radius: 50px;
}
.logInput>button{
  background-color: #7e846b;
  border: none;
  outline: none;
  width: 30%;
  height: 30%;
  border-radius: 50px;
  cursor: pointer;
}
.convertInput>button{
  background-color: #7e846b;
  border: none;
  outline: none;
  width: 30%;
  height: 30%;
  border-radius: 50px;
  cursor: pointer;
}
.parseInput{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100px;
  place-items: center;
  justify-content: center;
  background-color: #594e36;
  border-radius: 50px;
}
.parseInput>button{
  background-color: #7e846b;
  border: none;
  outline: none;
  width: 30%;
  height: 30%;
  border-radius: 50px;
  cursor: pointer;
}
